# constant
OTP_SECRET_KEY=KVFTERRWI5ECSORYORFE2VD3KUWHW4K3


# jwt
JWT_SECRET_KEY=oNVEruTERegiGNIntaterwiSanDiSMonEOnATErIcOcElOIsHi
JWT_EXPIRE_IN=30d

# database
MONGODB_URL=mongodb://root:wZUcHyymosE5appr0TyiXje8@alfie.iran.liara.ir:34004/my-app?authSource=admin&replicaSet=rs0&directConnection=true


# sms.ir
SMSIR_API_KEY=8Vhc54dJj7ByoLq6FAHc10WhsU6roVNtLUwOwqVuWdEQPUPqpt1JnFvSefS2aXsW
SMSIR_NUMBER=30007732009660
SMSIR_TEMPLATE=621415

# mail-smtp
MAIL_SMTP_HOST=smtp.c1.liara.email
MAIL_SMTP_PORT=587
MAIL_SMTP_SECURE=true
MAIL_SMTP_USER=NcrJPxVEFrUzX62G
MAIL_SMTP_PASSWORD=f7d68bd0-cd93-4445-bb59-d5f0fd5a830e
MAIL_SMTP_FROM=Iran Occasion <noreply@iranocc.com>


# storage
S3_API_ENDPOINT=storage.iran.liara.space
S3_BUCKET=iranocc-storage
S3_ACCESS_KEY=r9rh225ace8n9cbe
S3_SECRET_KEY=f73896dd-d221-4fb4-b71e-f87e06e447d5