# constant
OTP_SECRET_KEY=

# jwt
JWT_SECRET_KEY=
JWT_EXPIRE_IN=

# database
MONGODB_URL=


# sms.ir
SMSIR_API_KEY=
SMSIR_NUMBER=


# mail-smtp
MAIL_SMTP_HOST=
MAIL_SMTP_PORT=
MAIL_SMTP_USER=
MAIL_SMTP_PASSWORD=


# storage
S3_API_ENDPOINT=
S3_BUCKET=
S3_ACCESS_KEY=
S3_SECRET_KEY=