<div style='direction: rtl;'>
  <b> عزیز</b>
  <p>لطفا ایمیل خود را از طریق لینک زیر تایید کنید</p>
  <p>
    <a href='{{url}}'>تایید ایمیل</a>
  </p>
  یا آدرس زیر را در مرورگر خود باز کنید:
  <br />
  {{url}}
  <p>اگر این درخواست از سمت شما نبوده میتوانید به راحتی آن را بیخیال شوید</p>
</div>